body {

  background: $bkg-dr;
}

header{
  content: "";
  display: table;
  clear: both;
}

.contaniner {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  color: white;
}
