body {

  background: $bkg-dr;
}

header, main, footer{
  content: "";
  display: table;
  clear: both;
}

.contaniner {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sup {
  height: 100px;
  width: 100vw;

  background-color:  $bkg-dr-sup;
}

.mid {
  width: 100vw;

  background-color:  $bkg-dr-mid;
}

.bott {
  height: 100px;
  width: 100vw;

  background-color:  $bkg-dr-bott;
}

.link {

}
